<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COS-SDK-Vue</title>
    <script src="./vue.js"></script>
    <script src="../common/localforage.min.js"></script>
    <!-- 使用时替换为当前最新版sdk -->
    <script src="../../dist/cos-js-sdk-v5.js"></script>
    <script src="index.js"></script>
    <style>
      table {
        width: 100%;
        border: solid 1px #ddd;
      }
      table td {
        padding: 0 10px;
      }
      .more-btn {
        display: block;
        margin: 10px auto 0;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="nav">
        <span>sagacheng 的 COS</span>
        <span
          v-for="(item, index) in navList"
          :key="index"
          style="margin-right: 5px"
        >
          <a href="javascript:void(0)" @click="navClick(item)">{{item.name}}</a>
          <span v-if="index !== navList.length - 1">/</span>
        </span>
      </div>
      <div style="margin: 10px 0">
        <button @click="uploadFileClick" style="margin: 0 10px 0 0">
          上传文件
        </button>
        <!-- <button @click="uploadFolderClick">上传文件夹</button> -->
        <input
          type="file"
          style="display: none"
          @change="uploadChange"
          class="file-select"
        />
        <input
          type="file"
          style="display: none"
          @change="uploadChange"
          class="folder-select"
          webkitdirectory
          multiple
        />
      </div>
      <div class="file-list">
        <table border="1" cellpadding="0" cellspacing="0">
          <thead>
            <th v-for="(item, index) in columns" :key="index">
              {{item.label}}
            </th>
          </thead>
          <tbody>
            <tr v-for="(item, index) in list" :key="index">
              <td>
                <a
                  v-if="item.isDir"
                  href="javascript:void(0)"
                  @click="openFolder(item.Prefix)"
                  >{{item.name}}</a
                >
                <span v-else>{{item.name}}</span>
              </td>
              <td>{{item.Size || '-'}}</td>
              <td>{{item.LastModified || '-'}}</td>
              <td>
                <a
                  v-if="!item.isDir"
                  href="javascript:void(0)"
                  @click="downloadFile(item)"
                  >下载</a
                >
                <a
                  v-if="!item.isDir"
                  href="javascript:void(0)"
                  @click="deleteFile(item)"
                  >删除</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <button v-if="hasMore === 'true'" class="more-btn" @click="loadMore">
          加载更多
        </button>
      </div>
      <div>
        <h3>当前网络测速</h3>
        <p>{{ networkSpeed }}</p>
      </div>
      <div>
        <h3>上传配置项</h3>
        <div>
          <label for="one">
            <input type="radio" value="default" v-model="uploadConfig" />
            默认配置
          </label>
          <label for="two">
            <input type="radio" value="dynamic" v-model="uploadConfig" />
            动态调整分片与并发
          </label>
        </div>
      </div>
      <div>
        <h3>上传信息</h3>
        <div v-if="!isUploding">未在上传中</div>
        <div v-if="isUploding">
          <br />
          <div>上传路径: {{ uploadingInfo.prefix || '/' }}</div>
          <div>文件名: {{ uploadingInfo.name }}</div>
          <div>文件大小: {{uploadingInfo.fileSize}}</div>
          <div>上传进度: {{ uploadingInfo.percent }}</div>
          <div>上传实时速度: {{ uploadingInfo.speed }}</div>
          <div>本次上传持续时间: {{ uploadingInfo.lastTime }}</div>
          <div>上传平均速度(非断点续传场景为真实值): {{ uploadingInfo.avgSpeed }}</div>
        </div>
      </div>
      <div>
        <h3>断点续传列表</h3>
        <div
          v-if="currPrefixUnfinishedList.length > 0"
          v-for="(unfinishedItem, index) in currPrefixUnfinishedList"
          :key="unfinishedItem.UploadId"
        >
          <p>
            <span>{{unfinishedItem.Key}}</span>
            <a
              v-if="unfinishedItem.file"
              style="color: blue; cursor: pointer"
              @click="breakpointUpload(unfinishedItem)"
              >继续上传</a
            >
            <span v-if="!unfinishedItem.file">
              无本地碎片缓存无法续传
            </span>
            <a style="color: blue; cursor: pointer" @click="deleteLocalAndRemoteSlice(unfinishedItem)">删除本地和远端碎片</a>
          </p>
        </div>
        <div v-if="currPrefixUnfinishedList.length === 0">
          无内容，可在上传过程中刷新页面获得
        </div>
      </div>
    </div>
  </body>
</html>
